<div fxFlex=100 fxLayout='column' fxLayoutAlign='center center' class="maincontainer">
    <div fxLayout="column" fxLayoutAlign="center">
        <form [formGroup]="resetpasswordForm" (ngSubmit)="onSubmit()">
            <div style="text-align: center;">
                <h1>
                    <span style="color: blue;">f</span>
                    <span style="color: orange;">u</span>
                    <span style="color: red;">n</span>
                    <span style="color: green;">d</span>
                    <span style="color: blueviolet;">o</span>
                    <span style="color: orange;">o</span>
                </h1>
                <h2>Reset Password</h2>
                <h3>Enter your New password</h3>
            </div>
            <div fxLayout="column" fxLayoutAlign="centre">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="Newpassword" placeholder="Enter Password">
                    <mat-error>Valid password required</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="centre">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirmPassword" placeholder="Enter Password">
                    <mat-error>Password should match with new password</mat-error>
                </mat-form-field>
            </div>
            <div class="button">
                <button mat-flat-button color="primary">Next</button>
            </div>
        </form>
    </div>
</div>