img{
    width: 25px;height: 25px;
}
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 2px;
    background-color:none;
    border-width: 0px;
    border: none;
    outline: none;
}