img{
    width: 20px; margin-left:1px; padding-right: 18px;
}
.rangila{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    max-width: 220px;
    margin-left: 5px;
   
  }