<div fxlatout="row">
    <img src="../../../assets/image/ghnti.png"
     style="width: 20px; margin-left:8px; padding-right: 20px;">
    <img src="../../../assets/image/color.png"
     style="width: 20px; margin-left:8px; padding-right: 20px;">
    <img src="../../../assets/image/human.png"
     style="width: 20px; margin-left:8px; padding-right: 20px;">
    <img src="../../../assets/image/Archive.png"
     style="width: 20px; margin-left:8px; padding-right: 20px;">
    <img src="../../../assets/image/more.png"
     style="width: 20px; margin-left:8px; padding-right: 20px;">
    <!-- <img src="../../../assets/takeAnote/undoimg.png" style="width: 20px; margin-left:8px; padding-right: 20px;"> -->
</div>
