<div fxLayoutAlign="center center" style="margin-top: 30px; margin-left: 20px; ">
  <div style="width:700px; background-color:rgb(222, 226, 161); border-radius: 5px; ">
    <form [formGroup]="createnoteForm" (ngSubmit)="onSubmit()">
      <div style="height: 30px; padding: 10px 15px; font-size: medium;" *ngIf="show">

        <input type="text" #txt class="input" formControlName="title" placeholder="Title">
       
      </div>
      <div style="height: 30px; padding: 10px 15px; font-size: medium;">
        <input type="text" #txt class="input" formControlName="description" placeholder="Take a note..." (click)="hideAndShow()"
          *ngIf="show || !show">
          <img src="../../../assets/image/checkbox.png" style="width: 22px; margin-left:8px; padding-right: 20px;">
          <img src="../../../assets/image/brush.png" style="width: 22px; margin-left:8px; padding-right: 20px;">
          <img src="../../../assets/image/imgs.png" style="width: 22px; margin-left:8px; padding-right: 20px;">
      </div>
      <div style="height: 35px;" *ngIf="show" fxLayout="row">
        <app-note-icon></app-note-icon>
        <div style="position: right; padding-left: 300px;padding-top: -60px;">
          <button mat-button class="closebutton">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>